html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.App {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 100vw;
  height: 100vh;
 
}



